<html>
<head>
	<title>ChangePassword</title>
</head>
<body>
	<form action="/api/edit_profile" method="post">
		UserName: <input type="text" name="username"><br><br>
		New Username: <input type="text" name="new_username"><br><br>
		Old Password: <input type="text" name="old_password"><br><br>
		New Password: <input type="text" name="new_password"><br><br>
		Confirm New Password: <input type="text" name="confirm_password"><br><br>
		Picture: <input type="text" name="picture"><br><br>
		<input type="submit" value="Save">
	</form>
</body>
</html>