<html>
<head>
	<title>For Rent Item</title>
</head>
<body>
	<form action='/api/for_rent_item' method='post'>
		
		Owner: <input type="text" name="owner"><br><br>
		Name: <input type="text" name="name"><br><br>
		Description: <input type="text" name="description"><br><br>
		Price: <input type="text" name="price"><br><br>
		Quantity: <input type="text" name="quantity"><br><br>
		Picture: <input type="text" name="url"><br><br>
		Rent Duration: <input type="text" name="rent_duration"><br><br>
		<button type='submit'>Post Item</button>
	</form>
</body>
</html>